<div class="introduce">
    <section class="sec-1">
        <div class="container">
            <h1>Giới thiệu về <img src="../../../../assets/home/images/3TPL200x200.png" class="img-responsive"></h1>
            <h4>Trang web khóa học trực tuyến được phát triển năm 2017 và hứa hẹn sẽ phát triển mạnh mẽ trong thời gian tới.</h4>
        </div>
    </section>
    <div class="arrows"></div>
    <section class="sec-3">
        <div class="container">
            <h1 class="text-center">Nhóm phát triển</h1>
            <div class="row">
                <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <hr>
                </div>
                <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></div>
            </div>
            <div class="member">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <img class="img-thumbnail rounded-circle" src="../../../../assets/home/images/Lang.jpg">
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <h3>Trương Tam Lang</h3>
                                <h6>14130053@st.hcmuaf.edu.vn</h6>
                                <div class="social-group">
                                    <a href="https://www.facebook.com/ttlang162" class="social-facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="" class="social-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="" class="social-google"><i class="fa fa-google"></i></a>
                                    <a href="" class="social-youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="" class="social-linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="" class="social-pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="" class="social-github"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-4 col-xl-4"></div>
                </div>
            </div>
            <div class="member">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-4 col-xl-4"></div>
                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-right">
                                <h3>Huỳnh Tính Thành</h3>
                                <h6>14130111@st.hcmuaf.edu.vn</h6>
                                <div class="social-group">
                                    <a href="https://www.facebook.com/React.thanh" class="social-facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="" class="social-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="" class="social-google"><i class="fa fa-google"></i></a>
                                    <a href="" class="social-youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="" class="social-linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="" class="social-pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="" class="social-github"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <img class="img-thumbnail rounded-circle" src="../../../../assets/home/images/Thanh.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="member">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <img class="img-thumbnail rounded-circle" src="../../../../assets/home/images/Trinh.jpg">
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <h3>Phạm Thị Mỹ Trinh</h3>
                                <h6>14130136@st.hcmuaf.edu.vn</h6>
                                <div class="social-group">
                                    <a href="https://www.facebook.com/pham.t.my.trinh" class="social-facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="" class="social-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="" class="social-google"><i class="fa fa-google"></i></a>
                                    <a href="" class="social-youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="" class="social-linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="" class="social-pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="" class="social-github"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-4 col-xl-4"></div>
                </div>
            </div>
            <div class="member">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-4 col-xl-4"></div>
                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-right">
                                <h3>Nguyễn Tấn Phát</h3>
                                <h6>14130089@st.hcmuaf.edu.vn</h6>
                                <div class="social-group">
                                    <a href="https://www.facebook.com/shunkii" class="social-facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="" class="social-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="" class="social-google"><i class="fa fa-google"></i></a>
                                    <a href="" class="social-youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="" class="social-linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="" class="social-pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="" class="social-github"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <img class="img-thumbnail rounded-circle" src="../../../../assets/home/images/Phat.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="member">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <img class="img-thumbnail rounded-circle" src="../../../../assets/home/images/Thang.jpg">
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <h3>Trần Văn Thắng</h3>
                                <h6>14130118@st.hcmuaf.edu.vn</h6>
                                <div class="social-group">
                                    <a href="https://www.facebook.com/vanthang1996.mrTeo" class="social-facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="" class="social-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="" class="social-google"><i class="fa fa-google"></i></a>
                                    <a href="" class="social-youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="" class="social-linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="" class="social-pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="" class="social-github"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-4 col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-emoji">
        <div class="container center">
            <div class="border-emoji">
                <div class="content-emoji">
                    <div class="emoji  emoji--like">
                        <div class="emoji__hand">
                            <div class="emoji__thumb"></div>
                        </div>
                    </div>
                    <div class="emoji  emoji--love">
                        <div class="emoji__heart"></div>
                    </div>
                    <div class="emoji  emoji--haha">
                        <div class="emoji__face">
                            <div class="emoji__eyes"></div>
                            <div class="emoji__mouth">
                                <div class="emoji__tongue"></div>
                            </div>
                        </div>
                    </div>
                    <div class="emoji  emoji--yay">
                        <div class="emoji__face">
                            <div class="emoji__eyebrows"></div>
                            <div class="emoji__mouth"></div>
                        </div>
                    </div>
                    <div class="emoji  emoji--wow">
                        <div class="emoji__face">
                            <div class="emoji__eyebrows"></div>
                            <div class="emoji__eyes"></div>
                            <div class="emoji__mouth"></div>
                        </div>
                    </div>
                    <div class="emoji  emoji--sad">
                        <div class="emoji__face">
                            <div class="emoji__eyebrows"></div>
                            <div class="emoji__eyes"></div>
                            <div class="emoji__mouth"></div>
                        </div>
                    </div>
                    <div class="emoji  emoji--angry">
                        <div class="emoji__face">
                            <div class="emoji__eyebrows"></div>
                            <div class="emoji__eyes"></div>
                            <div class="emoji__mouth"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-5">
        <div class="container text-center">
            <h1>Công nghệ sử dụng</h1>
            <h5>Angular 4 - Bootstrap 4 - Sass - MySQL - Spring - Mybatis</h5>
            <div class="row">
                <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <hr>
                </div>
                <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5"></div>
            </div>     
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <img src="../../../../assets/home/images/angular.png">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <img src="../../../../assets/home/images/bootstrap.png">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <img src="../../../../assets/home/images/sass.png">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <img src="../../../../assets/home/images/mysql.png">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <img src="../../../../assets/home/images/spring.png">
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <img src="../../../../assets/home/images/mybatis.png">
                </div>
            </div>
        </div>
    </section>
    <div class="downcontainer">
        <span class="circle">
            <i class="fa fa-arrow-down downfa"></i>
        </span>
    </div>
    <section class="sec-6">
        <div class="container text-center">
            <h2>Trường Đại học Nông Lâm Thành phố Hồ Chí Minh</h2>
            <h1>Thương mại điện tử</h1>
            <h2>Khương Hải Châu</h2>
        </div>
    </section>
    <section class="sec-7">
        
    </section>
</div>