<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title></title>
</head>
<body>
<h3 style="color: #064740;">Yêu cầu thay đổi mật khẩu của bạn !</h3>
<img alt="wellcome" th:src="logo.png"/>
<h3 style="color: #064740;">Hãy click vào đường link bên dưới để hoàn tất quá trình thay đổi mật khẩu</h3>
<h3 style="color: #064740;">Yêu cầu thay đổi mật khẩu có thời hạn trong vòng 15 phút từ khi bạn nhận được mail này</h3>
<a th:href="@{${linkResetPassword}}"><span th:text="@{${linkResetPassword}}"></span></a>
<p></p>
</body>
</html>