footer {
	background: #ccc;
	@include basic-font($font2, #000000);
	padding: 50px 0 50px 0;
	.imap {
		position: relative;
		height: 300px;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}
.ifooter {
	padding: 10px 0 5px 0;
	background: $color4;
	color: #ffffff;
	height: auto;
}

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	cursor: pointer;
	background: rgba(243, 116, 2, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
	// visibility: hidden;
	// opacity: 0;
	border-radius: 50%;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
	@include basic-delay(.5s);
	&:hover {
		@include basic-delay(.5s);
		border: 5px solid $color5 * 200;
		opacity: .8;
	}
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
}
.cd-top.cd-fade-out {
	opacity: .5;
}
.no-touch .cd-top:hover {
	background-color: $color4;
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}