.payment {
	section.sec-1 {
		padding: 150px 0 50px 0;
		h1 {
			font-family: $font1;
		}

		img {
			// max-width: 200px;
			&:hover {
				@include basic-shadow(1px, 1px, 10px, 1px, #999);
				@include basic-delay(1s);
			}
		}

		h2 {
			font-family: $font1;
		}
	}
}