.sign {
	
	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {   
		border-color: none;
		box-shadow: none;
		outline: 0 none;
	}

	.background {
		background-image: url("https://auth.gfx.ms/16.000.27621.00/images/Backgrounds/0.jpg?x=f5a9a9531b8f4bcc86eabb19472d15d5");
		background-repeat: no-repeat,no-repeat;
		background-position: center center,center center;
		background-size: cover,cover;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.clog {
		.content-log {
			background: #ffffff;
			padding: 30px;
			left: 0;
			box-shadow: 0 2px 3px rgba(0,0,0,.55);
			border: 1px solid rgba(0,0,0,.4);
			.brand-logo {
				.brand-name {
					font-weight: bold;
					font-size: 1.3em;
				}
			}

			form {
				margin: 20px 0 0 0;
				@import "input";
				h3 {

				}
			}
		}

		.more-content {
			margin: 5px 0 0 0;
		}
	}

	.log-long {
		margin-top: 5%;
		.content-log {
			.card-body {
				padding: 0px;
			}
		}
	}

	.nav-footer {
		bottom: 0;
		width: 100%;
		overflow: visible;
		clear: both;
		background-color: rgba(0,0,0,.6);

		a.nav-link {
			color: #ffffff;
			float: left;
			&:hover {
				color: #ffffff;
			}
		}
	}
}

@media (min-width: 1366px) {
	.sign {
		.clog {
			margin-top: 5%;
			.content-log {
				top: 30%;
			}
		}
	}
}

@media (max-width: 1366px) and (min-width: 1020px) {
	.sign {
		.clog {
			margin-top: 5%;
			.content-log {
				top: 10%;
			}
		}
	}
}

@media (max-width: 1024px) {
	.sign {
		.clog {
			margin-top: 20%;
			.content-log {
				top: 0;
			}
		}
	}
}


@media (max-width: 768px) {
	.sign {
		.clog {
			margin-top: 10%;
			.content-log {
				top: 0;
			}
		}
	}
}

@media (max-width: 680px) {
	.sign {
		.clog {
			margin-top: 0;
			.content-log {
				top: 0;
			}
		}
		.nav-footer {
			display: none;
		}
	}
}

@media (max-width: 414px) {
	.sign {
		.clog {
			margin-top: 10%;
			.content-log {
				top: 0;
			}
		}
		.log-long {
			margin-top: 0%;
		}
	}
}

@media (max-width: 412px) {
	.sign {
		.clog {
			margin-top: 10%;
			.content-log {
				top: 0;
			}
		}
		.log-long {
			margin-top: 0%;
		}
	}
}

@media (max-width: 360px) {
	.sign {
		.clog {
			margin-top: 10%;
			.content-log {
				top: 0;
			}
		}
		.log-long {
			margin-top: 0%;
		}
	}
}