@mixin basic-font($font, $color) {
	font-family: $font;
	font-size: 14px;
	color: $color;
}

@mixin basic-shadow($h, $v, $blur, $spread, $color) {
	-moz-box-shadow:    $h $v $blur $spread $color;
	-webkit-box-shadow: $h $v $blur $spread $color;
	box-shadow:         $h $v $blur $spread $color;
}

@mixin basic-delay($delay) {
	-webkit-transition: $delay;
	-moz-transition: $delay;
	-o-transition: $delay;
	transition: $delay;
}