<div class="sign">
    <div class="background"></div>
    <div class="container clog">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-lg-4"></div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-lg-4 content-log">
                <div class="brand-logo text-right">
                    <img src="../../../../assets/home/images/3TPL50x50.png" alt="Logo">
                    <span class="brand-name">3TPL</span>
                    <small class="form-text text-muted"
                    *ngIf="ms">
                 <p style="color: red "> {{ms}} </p>
               </small>
                </div>
                <form  [formGroup]="forgetPass" (ngSubmit)="forgetPassSubmit()"  >
                    
                      <div class="form-group">
                          <label for="username">Mật khẩu mới</label>
                          <small class="form-text text-muted" *ngIf=" forgetPass.controls['passwordnew'].errors && ( forgetPass.controls['passwordnew'].dirty || forgetPass.controls['passwordnew'].touched)">
                                  <p  style="color: red " *ngIf=" forgetPass.controls['passwordnew'].errors.required"> Mật khẩu không được để trống </p>
                                  <p  style="color: red " *ngIf="forgetPass.controls['passwordnew'].errors.minlength">Mật khẩu bé hơn 8 ký tự </p>
                                </small>
                          <input    formControlName="passwordnew" type="password" class="form-control"  aria-describedby="username" placeholder="">
                      </div>
                      <div class="form-group">
                          <label for="username">Nhập lại mật khẩu mới</label>
                          <small class="form-text text-muted" *ngIf=" forgetPass.controls['passwordconform'].errors && ( forgetPass.controls['passwordconform'].dirty || forgetPass.controls['passwordconform'].touched)">
                                  <p  style="color: red " *ngIf=" forgetPass.controls['passwordconform'].errors.required"> Mật khẩu không được để trống </p>
                                  <p  style="color: red " *ngIf="forgetPass.controls['passwordconform'].errors.minlength">Mật khẩu bé hơn 8 ký tự </p>
                                </small>
                                <small class="form-text text-muted" *ngIf=" forgetPass.controls['passwordconform'].valid ">
                                     
                                      <p  style="color: red " *ngIf=" forgetPass.errors"> Mật khẩu không trùng nhau </p>
                                      
                                    </small>
                          <input  formControlName="passwordconform" type="password" class="form-control" id="username" aria-describedby="username" placeholder="">
                      </div>
                      <div class="text-right"><button [disabled]="isloading"  [disabled]="!forgetPass.valid " type="submit" class="btn btn-primary"><span>Tiếp tục
                          </span>
                          <img *ngIf="isloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/>                          
                        </button></div>
                  </form>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-4 col-lg-4"></div>
        </div>
    </div>
    <nav class="navbar fixed-bottom justify-content-end nav-footer">
        <div class="text-right">
            <a class="nav-link">3TPL &copy; 2017</a>
            <a class="nav-link" [routerLink]="['/home/main']">Trang chủ</a>
            <a class="nav-link" [routerLink]="['/home/gioi-thieu']">Giới thiệu</a>
            <a class="nav-link" [routerLink]="['/home/dieu-khoan-su-dung']">Điều khoản</a>
            <a class="nav-link" href="#">Thông tin quảng cáo</a>
        </div>
    </nav>
</div>