<div class="policy">
    <section class="sec-1">
        <div class="container">
            <h2>THỎA THUẬN CÁC QUYỀN</h2>
            <h5>Điều khoản được xuất bản: 16/12/2017</h5>
            <h5>Có hiệu lực: 24/12/2017</h5>
            <p>
                Các điều khoản này được áp dụng cho học viên và đối tác của 3TPL. Xin hãy đọc kỹ toàn bộ thỏa thuận trước khi tham gia. Bạn
                chấp nhận các Điều khoản này bằng cách tạo tài khoản 3TPL thông qua việc sử dụng Dịch vụ hoặc bằng cách tiếp
                tục sử dụng Dịch vụ sau khi được thông báo về thay đổi đối với các Điều khoản này.
            </p>
        </div>
    </section>
    <section class="sec-2">
        <div class="container">
            <h2>Điều 1: Thông tin tài khoản cá nhân</h2>
            <p>
                Khi đăng ký tài khoản tại 3TPL, học viên phải cung cấp đầy đủ và chính xác thông tin về Tên, Email, Số điện thoại, Mật khẩu.
                Đây là những thông tin bắt buộc liên quan tới việc hỗ trợ học viên trong quá trình sử dụng dịch vụ tại 3TPL.
                Khi có những rủi ro, mất mát sau này, chúng tôi chỉ tiếp nhận những trường hợp điền đúng và đầy đủ những
                thông tin trên. Những trường hợp điền thiếu thông tin hoặc thông tin sai sự thật sẽ không được giải quyết.
                Những thông tin này sẽ được dùng làm căn cứ để hỗ trợ giải quyết.
            </p>
            <h2>Điều 2: Bảo mật thông tin</h2>
            <p>
                Bạn có trách nhiệm tự mình bảo quản mật khẩu, nếu mật khẩu bị lộ ra ngoài dưới bất kỳ hình thức nào, Chúng tôi sẽ không
                chịu trách nhiệm về mọi tổn thất phát sinh.
            </p>
            <p>
                Bạn không được download video, không được chia sẻ video lên Internet với bất kỳ hình thức nào. Nếu vi phạm, tài khoản củ
                a bạn sẽ bị dừng hoạt động và phải chịu trách nhiệm trước pháp luật về hành vi xâm phạm sở hữu trí tuệ.
            </p>
            <p>
                3TPL có thể gửi thông báo tình hình học tập, chương trình khuyến mãi (nếu có), thông báo khóa học mới sắp ra mắt để học viên
                quan tâm có thể đăng ký ngay để được ưu đãi.
            </p>
            <h2>Điều 3: Nghiêm cấm sử dụng dịch vụ với các hành vi dưới đây </h2>
            <p>
                Sử dụng bất kỳ chương trình, công cụ hay hình thức nào để can thiệp vào các dịch vụ, khóa học trong hệ thống 3TPL.
            </p>
            <p>
                Phát tán hoặc tuyên truyền cổ vũ các hoạt động phát tán, can thiệp và phá hoại nội dung các bài học trên hệ thống của 3TPL
                ra bên ngoài. Mọi vi phạm khi bị phát hiện sẽ bị xóa tài khoản và có thể xử lý theo quy định của pháp luật
                về việc vi phạm bản quyền
            </p>
            <p>
                Sử dụng chung tài khoản: với việc trên 2 người cùng sử dụng chung một tài khoản khi bị phát hiện sẽ bị xóa tài khoản ngay
                lập tức
            </p>
            <p>
                Xúc phạm, nhạo báng người khác dưới bất kỳ hình thức nào (nhạo báng, chê bai, kỳ thị tôn giáo, giới tính, sắc tộc….).
            </p>
            <p>
                Hành vi mạo nhận hay cố ý làm người khác tưởng lầm mình là một người sử dụng khác trong hệ thống dịch vụ của 3TPL.
            </p>
            <p>
                Bàn luận về các vấn đề chính trị, kỳ thị tôn giáo, kỳ thị sắc tộc.
            </p>
            <p>
                Hành vi, thái độ làm tổn hại đến uy tín của các sản phẩm, dịch vụ, khóa học trong hệ thống 3TPL dưới bất kỳ hình thức
                nào, phương thức nào.
            </p>
            <p>
                Mua bán chuyển nhượng tài khoản, khóa học của 3TPL.
            </p>
            <p>
                Mạo danh 3TPL ảnh hưởng đến uy tín của 3TPL, gây sự nhầm lẫn cho các học viên và đối tác theo bất kỳ phương thức nào (dùng
                địa chỉ email, tên miền website, fanpage có chữ 3TPL)
            </p>
        </div>
    </section>
</div>