<div class="error404">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center">
                    <figure class="figure">
                            <img src="assets/home/images/404-blue.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                        </figure>
                <h1>PAGE NOT FOUND!</h1>
                <h5>Chúng tối xin lỗi vi sự cố này, hãy quay lại <a [routerLink]="['/home/main']">trang chủ</a> để tiếp tục trải nghiệm dịch vụ của chúng tôi!</h5>
                
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                <figure class="figure">
                    <img src="assets/home/images/corgi-dog.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                </figure>
            </div>
        </div>
    </div>
</div>