<!-- index -->
<div class="index">
    <section class="sec-slider">
        <div class="untitled">
            <div class="untitled__slides">
                <div class="untitled__slide">
                    <div class="untitled__slideBg"></div>
                    <div class="untitled__slideContent">
                        <span>Front-end</span>
                        <span>Angular 4</span>
                        <a class="button" [routerLink]="['/home/gioi-thieu']" target="/black">Xem thêm</a>
                    </div>
                </div>
                <div class="untitled__slide">
                    <div class="untitled__slideBg"></div>
                    <div class="untitled__slideContent">
                        <span>Front-end</span>
                        <span>Bootstrap</span>
                        <a class="button" [routerLink]="['/home/gioi-thieu']" target="/black">Xem thêm</a>
                    </div>
                </div>
                <div class="untitled__slide">
                    <div class="untitled__slideBg"></div>
                    <div class="untitled__slideContent">
                        <span>Back-end</span>
                        <span>Spring (Java)</span>
                        <a class="button" [routerLink]="['/home/gioi-thieu']" target="/black">Xem thêm</a>
                    </div>
                </div>
                <div class="untitled__slide">
                    <div class="untitled__slideBg"></div>
                    <div class="untitled__slideContent">
                        <span>Back-end</span>
                        <span>MySQL</span>
                        <a class="button" [routerLink]="['/home/gioi-thieu']" target="/black">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="untitled__shutters"></div>
        </div>
    </section>
    <section class="section-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <figure class="snip-images">
                        <img src="assets/home/images/intro1.jpeg" alt="i" />
                        <div class="title">
                            <div>
                                <h2>Khai giảng</h2>
                                <h4>Xem</h4>
                            </div>
                        </div>
                        <figcaption>
                            <p>Xem thông tin các lớp sẽ được mở trong tương lai.</p>
                        </figcaption>
                        <a [routerLink]="['/home/gioi-thieu']"></a>
                    </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <figure class="snip-images">
                        <img src="assets/home/images/intro2.jpeg" alt="i" />
                        <div class="title">
                            <div>
                                <h2>Khóa học</h2>
                                <h4>Xem</h4>
                            </div>
                        </div>
                        <figcaption>
                            <p>Xem các khóa học đang có ở trung tâm.</p>
                        </figcaption>
                        <a [routerLink]="['/pages/dang-ky']"></a>
                    </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <figure class="snip-images">
                        <img src="assets/home/images/intro3.jpeg" alt="i" />
                        <div class="title">
                            <div>
                                <h2>Mở lớp mới</h2>
                                <h4>Xem</h4>
                            </div>
                        </div>
                        <figcaption>
                            <p>Đăng ký làm cộng sự với trung tâm để mở lớp học mới.</p>
                        </figcaption>
                        <a [routerLink]="['/home/dieu-khoan-su-dung']"></a>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div class="container">
            <h2 class="text-center">HÃY CHỌN CHÚNG TÔI VÌ</h2>
            <div class="row coltotal">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-right colnumber">1.</div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-7 col-xl-7 colcontent">
                    <h3>Phương pháp giảng dạy hiệu quả</h3>
                    <p>Lập trình là một món ăn khô khan, nhưng chúng tôi biết cách biến nó thành món ăn ngon miệng cho bạn.
                        Truyền cảm hứng cho học viên là những gì chúng tôi làm được tốt nhất.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 colnone"></div>
            </div>

            <div class="row coltotal">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 colnone"></div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-right colnumber">2.</div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-7 col-xl-7 colcontent">
                    <h3>Học phí thấp</h3>
                    <p>Với việc ra đời dựa trên đam mê lập trình, được đứng lớp và truyền cảm hứng cho học viên là niềm vinh
                        hạnh của chúng tôi.</p>
                </div>
            </div>

            <div class="row coltotal">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-right colnumber">3.</div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-7 col-xl-7 colcontent">
                    <h3>Giảng viên là những người có kinh nghiệm thực tế</h3>
                    <p>100% giảng viên đều đáp ứng 02 tiêu chí sau: Kinh nghiệm thực tế và đam mê giảng dạy.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 colnone"></div>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="container">
            <h2 class="text-center">CÁC KHÓA HỌC NỔI BẬT</h2>
            <div class="row"> 
                <div *ngFor="let item of listCourse" class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="card border-secondary">
                        <img class="card-img-top card-item" src="{{item.courseAvatar}}" alt="">
                        <div class="card-body">
                            <div class="parallelogram-blue"></div>
                            <div class="parallelogram-orange"></div>
                            <h5 class="card-title">
                                <div class="parallelogram-text block-with-text">{{item.courseTitle}}</div>
                            </h5>
                            <p class="card-text truncate-text demission">{{item.courseDescription}}</p>
                            <span>Giảng viên:
                                <a [routerLink]="['/home/thong-tin-ca-nhan', item.author.userID]">
                                    <b>{{item.author.userName}}</b>
                                </a>
                            </span>
                            <br/>
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <i class="fa fa-users"></i> {{item.views}}
                                </div>
                            </div>
                            <div class="text-right">
                                <a [routerLink]="['/home/chi-tiet-khoa-hoc',item.courseID]" class="btn ibtn">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <h6 class="price">{{item.price==0?'Miễn phí': item.price+'đ'}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn ibtn" *ngIf="this.size < this.total" (click)="xemThem()">Xem thêm</button>
            </div>
        </div>
    </section>
    <!-- <section class="sec-card3d">
        <div class="container">
            <header class="main-header clearfix">
                <img class="logo" src="http://gdurl.com/78rD">
                <h1 class="name">CÁC KHÓA HỌC NỔI BẬT
                    <span>****</span>
                </h1>
            </header>
            <div class="content clearfix line-card">
                <div *ngFor="let item of listCourse"  class="cube-container">
                    <div class="photo-cube">
                        <img class="front" src="{{item.courseAvatar}}" alt="">
                        <div class="back photo-desc">
                            <h3 class="course-title parallelogram-text block-with-text">{{item.courseTitle}}</h3>
                            <p class="truncate-text demission">{{item.courseDescription}}</p>
                            <h6>Giảng viên:
                                <a [routerLink]="['/home/thong-tin-ca-nhan', item.author.userID]">
                                    <b>{{item.author.userName}}</b>
                                </a>
                            </h6>
                            <h6>Số lượt xem: {{item.views}}
                            </h6>
                            <h6 class="price">Giá:
                                <span class="text-yellow">{{item.price==0?'Miễn phí': item.price+'đ'}}</span>
                            </h6>
                            <a [routerLink]="['/home/chi-tiet-khoa-hoc',item.courseID]" class="button">Xem thêm</a>
                        </div>
                        <img class="left" src="{{item.courseAvatar}}" alt="">
                        <img class="right" src="{{item.courseAvatar}}" alt="">
                    </div>
                </div>
            </div>
            <div class="content clearfix line-card">
                <div *ngFor="let item of listCourse" class="cube-container">
                    <div class="photo-cube">
                        <img class="front" src="{{item.courseAvatar}}" alt="">
                        <div class="back photo-desc">
                            <h3 class="course-title parallelogram-text block-with-text">{{item.courseTitle}}</h3>
                            <p class="truncate-text demission">{{item.courseDescription}}</p>
                            <h6>Giảng viên:
                                <a [routerLink]="['/home/thong-tin-ca-nhan', item.author.userID]">
                                    <b>{{item.author.userName}}</b>
                                </a>
                            </h6>
                            <h6>Số lượt xem: {{item.views}}
                            </h6>
                            <h6 class="price">Giá:
                                <span class="text-yellow">{{item.price==0?'Miễn phí': item.price+'đ'}}</span>
                            </h6>
                            <a [routerLink]="['/home/chi-tiet-khoa-hoc',item.courseID]" class="button">Xem thêm</a>
                        </div>
                        <img class="left" src="{{item.courseAvatar}}" alt="">
                        <img class="right" src="{{item.courseAvatar}}" alt="">
                    </div>
                </div>
            </div>

            <button *ngIf="this.size < this.total" (click)="xemThem()">Xem thêm</button>
        </div>
    </section> -->
    <section class="section-4">
        <div class="container">
            <h1 class="text-center">KẾT NỐI VỚI CHÚNG TÔI</h1>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <div class="social text-center">
                        <a href="">
                            <i class="fa fa-facebook social-facebook"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <div class="social text-center">
                        <a href="">
                            <i class="fa fa-twitter social-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <div class="social text-center">
                        <a href="">
                            <i class="fa fa-google social-google"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <div class="social text-center">
                        <a href="">
                            <i class="fa fa-youtube social-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <div class="social text-center">
                        <a href="">
                            <i class="fa fa-linkedin social-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <div class="social text-center">
                        <a href="">
                            <i class="fa fa-pinterest-p social-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /index -->