<!-- <h5 *ngIf="!lessonItem" style="margin-top: 100px; margin-left: 100px;" class="lesson">
  <p class="sec-0">
    Bạn cần đăng ký khóa học, hoặc đăng nhập để dc truy cập vào trang này!
  </p>
</h5> -->
<div *ngIf="!lessonItem" style="margin-top: 100px; margin-left: 100px;" class="lesson">
  <section class="sec-0">
    <div class="container">
      <h1>Bạn cần đăng ký khóa học, hoặc đăng nhập để được truy cập vào trang này!</h1>
      <div class="text-center">
        <button type="button" class="btn ibtn">Trang chủ</button>
        <button type="button" (click)="goBack()" class="btn ibtn">Quay lại</button>
        <button type="button" class="btn ibtn">Quy đổi tiền</button>
      </div>
    </div>
  </section>
</div>
<div *ngIf="lessonItem" class="lesson">
  <section class="sec-1">
    <div class="container">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="100%" height="auto" [src]='url' frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section class="sec-2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h3>{{lessonItem?.lessonTitle}}</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-right">
          <button *ngIf="isShowButtonDonate" class="btn ibtn" type="button" (click)="donate()">
            <i class="fa fa-credit-card-alt"></i> Donate</button>
        </div>
      </div>
      <div>
        <a *ngFor="let item of lessonItem?.listOfLessonAttach" [href]="[item?.lesonAttachContent]" download target="_blank">{{item?.lesonAttachContent}} </a>
      </div>
      <hr>
    </div>
  </section>
  <section class="sec-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 fbcmt">
          <h5>Nhận xét</h5>

          <!-- /abc -->
          <iframe [src] ="fbUrl" style="border: 0; width: 100%; height: 100%">Your browser doesn't support iFrames.</iframe>
          <!-- <div >
            <div class="fb-comment">
             <div id="fb-root"></div>
   <div class="fb-comments" [attr.data-href]="[fbUrl]" data-numposts="20"></div>  </div>
          </div> -->
          <!-- ./abc -->
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 list-lesson">
          <h5>Danh sách bài học</h5>
          <!-- /bài học -->
          <div *ngFor="let itemLesson of  listLesson.slice(0,2)" class="item-lesson">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 video-thumbnail">
                <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">
                  <img width="100%" height="100%" alt="Video thumbnail" src="https://drive.google.com/thumbnail?authuser=0&sz=w320&id={{  itemLesson.lessonContent2  }}">
                  <div class="video-play">
                    <i class="fa fa-play"></i>
                  </div>
                </a>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h6>
                  <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">{{itemLesson?.lessonTitle}}</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- ./bài học -->
          <div class="hide-item-lesson text-center">
            <button type="button" class="btn btn-block ibtn" *ngIf="isCollapsed" (click)="isCollapsed = !isCollapsed">Hiển thị thêm
            </button>
          </div>
          <div [collapse]="isCollapsed">
            <div *ngFor="let itemLesson of  listLesson.slice(2,listLesson.length)" class="item-lesson">
              <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 video-thumbnail">
                  <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">
                    <img width="100%" height="100%" alt="Video thumbnail" src="https://drive.google.com/thumbnail?authuser=0&sz=w320&id={{  itemLesson.lessonContent2  }}">
                    <div class="video-play">
                      <i class="fa fa-play"></i>
                    </div>
                  </a>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <h6>
                    <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">{{itemLesson.lessonTitle}}</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 list-lesson">
          <h5>Danh sách bài học</h5>
          <!-- /bài học -->
          <div *ngFor="let itemLesson of  listLesson.slice(0,2)" class="item-lesson">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 video-thumbnail">
                <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">
                  <img width="100%" height="100%" alt="Video thumbnail" src="https://drive.google.com/thumbnail?authuser=0&sz=w320&id={{  itemLesson.lessonContent2  }}">
                  <div class="video-play">
                    <i class="fa fa-play"></i>
                  </div>
                </a>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h6>
                  <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">{{itemLesson.lessonTitle}}</a>
                </h6>
              </div>
            </div>
          </div>
          <!-- ./bài học -->
          <div class="hide-item-lesson text-center">
            <button type="button" class="btn btn-block ibtn" *ngIf="isCollapsed" (click)="isCollapsed = !isCollapsed">Hiển thị thêm
            </button>
          </div>
          <div [collapse]="isCollapsed">
            <div *ngFor="let itemLesson of  listLesson.slice(2,listLesson.length)" class="item-lesson">
              <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 video-thumbnail">
                  <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">
                    <img width="100%" height="100%" alt="Video thumbnail" src="https://drive.google.com/thumbnail?authuser=0&sz=w320&id={{  itemLesson.lessonContent2  }}">
                    <div class="video-play">
                      <i class="fa fa-play"></i>
                    </div>
                  </a>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <h6>
                    <a [routerLink]="['/home/bai-hoc', itemLesson.lessonID]">{{itemLesson.lessonTitle}}</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 fbcmt">
          <h5>Nhận xét</h5>
          <!-- /abc -->
          <div class="fb-comment">
            <!-- <div id="fb-root"></div> -->
            <div class="fb-comments" [attr.data-href]="[this.hostName + this.router.routerState.snapshot.url]" data-numposts="20" data-width="100%" css="http://www.yourwebsite.com/css/comments.css?1234"></div>
          </div>
          <!-- ./abc -->
        </div>
      </div>
    </div>
  </section>

</div>
